{% extends 'base.html.twig' %}

{% block title %}Nouveau Product{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row d-flex justify-centent-center">
            <div class="col-md-6">
                <div class="card p-4">
                    <h1 class="card-title">Nouveau Product</h1>

                    <div class="card-body">
                    {{ include('product/_form.html.twig') }}
                    </div>

                    <div class="card-footer">
                       <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary" href="{{ path('app_product_index') }}">back to list</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
{% endblock %}
